*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #EC7C13;
    --secondary-color: #0C7064;
    --accent-color1: #E6E6E6;
    --accent-color2: #F2F2F2;
    --accent-color3: #F4F4F4;
    --rich-black: #010b13;

    font-family: Outfit, Raleway, sans-serif;
    background-color: var(--accent-color3);
    font-size: 16px;

}

h1,
h2,
h3,
h4 {
    font-family: Raleway, Outfit, sans-serif;
}



/* -----------------HEADER-----------------  */

header,
.main-center {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

/* -----------------HEADER END-----------------  */






/* -----------------MAIN-----------------  */

hr {
    /* height: 2px; */
    border: 1px solid lightgray;
    margin: 35px 0;
}

.head-center,
.main-center {
    text-align: center;
}

.head-center {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px;
}

.overview,
.xplore-section,
.siteplan,
.scenario,
.color-sch,
.typo,
.wiref-sec {
    padding: 20px 2px;
}

.scenario ul {
    list-style: none;
}

.url {
    padding: 20px 0;
}




/* ----------Table Section----------- */
.table {
    margin: 0 auto;
    width: 100%;
}

thead,
tbody {
    padding: 10px;
}

th,
td {
    text-align: center;
}


thead th {
    background-color: var(--rich-black);
    color: var(--accent-color3);
}

tbody tr td:nth-child(1) {
    color: white;
    background-color: var(--primary-color);
}

tbody tr td:nth-child(2) {
    background-color: var(--secondary-color);
    color: white;
}

tbody tr td:nth-child(3) {
    background-color: var(--accent-color1);
    color: black;
}

tbody tr td:nth-child(4) {
    background-color: var(--accent-color2);
}

tbody tr td:nth-child(5) {
    background-color: var(--accent-color3);
}

/* ----------Table End----------- */





.normal-para,
.color-para {
    margin-top: 40px;
}

.color-para {
    color: white;
    background-color: var(--secondary-color);
    padding: 15px;
}

.desktop h3 {
    padding: 20px 0;
}

.desktop div {
    width: 100%;
    height: 100%;
}
.desktop img {
    width: 100%;
    height: 100%;
}







.mobile h3 {
    padding: 20px 0px;
}

.mobile div {
    max-width: 375px;
    height: 100%;
    margin: 0 auto;
}

.mobile img {
    width: 100%;
    height: 100%;
}



/* -----------------MAIN END-----------------  */




/* -----------------FOOTER-----------------  */
footer {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center ;
    justify-content: center;

}

.foot-nav {
    color: white;
    text-align: center;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* -----------------FOOTER END-----------------  */


@media screen and (min-width: 380px) {

    header {
        margin-top: 0px;
    }
    
    th,
    td {
        padding: 10px;
        text-align: center;
        /* height: 60px; */
    }

    .mobile {
        width: 100%;
    }

    .mobile img {
        width: 100%;
    }

    .foot-nav {
        font-size: .9rem;
    }
}